<% provide(:title, @post.name) %>
<p id="notice"><%= notice %></p>

<h1 class="post-title"><%= @post.name %>
</h1>

<%= image_tag @post.url.strip.html_safe, class: "post-image", data: {imagewidth: FastImage.size(@post.url.strip.html_safe)[0], imageheight: FastImage.size(@post.url.strip.html_safe)[1] } %>


