<% provide(:title, @post.name) %>
<p id="notice"><%= notice %></p>

<p class="post-title"><%= @post.name %>
</p>

<%= image_tag @post.url.strip.html_safe, class: "post-image" %>
<p>
Source: <%= @post.url.strip.html_safe %>
</p>


